/*global*/

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
h1 {
    font-size: 24px;
    font-family: 'Baloo Chettan', cursive;
}

h2 {
    font-size: 22px;
    font-family: 'Baloo Chettan', cursive;
}

h3 {
    font-size: 18px;
    font-family: 'Baloo Chettan', cursive;
}
h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}
.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 280px;
}
/*about us*/
.about{
    width: 100%;
    background-color: #23262d;
    height: 700px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.top-container, .achievements-box{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}
.title-container, .about-img-container{
    position:relative;
    width:100%;
}
.title{
    text-align: center;
    color:white;
    margin-bottom: 5%;
}
.title h2 {
    font-size: 50px;
    margin-top: 0;
    color: white;
    font-weight: bold;
    padding: 0;
}
.title span {
    color: #fff;
    font-size: 17px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.read_more{
    color: #fff;
}
.read_more:hover{
    text-decoration: none;
}

/*best choice*/
.best-choice {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.best-choice .top-container .title-container .title h2
{
    color: #030100;
}
.best-choice .top-container{
    padding-bottom: 2%;
}

.achievements-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
}

.col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.title-container{
    padding-top: 15%;
}
.achievement {
    text-align: center;
    background: #776BCC;
    border-radius: 30px;
    margin-left: 8%;
    margin-right: 8%;
}

.achievement h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 200%;
    line-height: 120%;
    padding-top: 2%;
}

.achievement p {
    color: #fff;
    line-height: 130%;
    padding-bottom: 2%;
}

.read_more_container{
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #030100;
    border-radius: 10px;
}
.read_more_container:hover{
    background-color: #776BCC;
    transition: ease-in all 0.5s;
    border-radius: 16px;
}
.read_more_container .read_more{
    text-decoration: none;
}
/*discount section*/
.discount-section{
    display: grid;
    grid-template-columns: 0.7fr 8fr 16fr;
    background-color: #776BCC;
    margin-top: 5%;
}
.discount-info-container{
    display:flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 2%;
}
.discount-info-container h2 {
    color: #fff;
    font-size: 60px;
    line-height: 65px;
    padding-bottom: 25px;
}

.discount-info-container p {
    font-size: 17px;
    line-height: 28px;
    color: #fff;
    margin: 0;
}

.discount {
    font-size: 100px;
}

.map_main {
    width: 100%;
    float: left;
    margin-top: 90px;
}
.contact_section_2 {
    width: 100%;
    float: left;
}


/* footer section start */

.footer_section {
    width: 100%;
    height: 300px;
    display:flex;
    padding-top: 4%;
}
.contact-info-container,.best-products-container{
    flex:0 0 33.333333%;
    max-width:33.333333%;
    display:flex;
    align-items: center;
    padding-left:20px;
    padding-right:20px;

}
.contact-info-container {
    justify-content:right;
}

.best-products-container{
    justify-content: left;
}

.address_text {
    font-size: 30px;
    color: black;
    text-transform: uppercase;
}
.address_bt {
    width: 100%;
    float: left;
}

.address_bt ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.address_bt ul li {
    font-size: 16px;
    color: black;
    padding: 10px 0 0 0;
}

.address_bt li a {
    color: black;
}

.address_bt li a:hover {
    color: #776BCC;
}


.footer_logo {
    width: 100%;
    text-align: center;
}
.footer_logo a img{
    width: 130px;
}
.further_text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: black;
    margin: 0;
    text-align: center;
    padding-top: 20px;
}

.social_icon {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #776BCC;
}

.social_icon ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    list-style-type: none;
}

.social_icon li {
    float: left;
    font-size: 28px;
    color: #C7C5F4;
    padding: 20px;
}
.social_icon li a {
    color: #C7C5F4;
}

.social_icon li a:hover {
    color: #776BCC;
}

.products-text {
    width: 65%;
    float: left;
    font-size: 14px;
    color: black;
    margin: 0;
    padding-top: 10px;
}

/* footer section end */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.copyright_text {
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
}

/* Bubble Slider */
section {
    width: 60%;
}
.bubble blockquote {
    margin: 0 10px 0 10px;
    background: #fff;
    padding: 40px;
    position: relative;
    border: none;
    border-radius: 8px;
    font-size: 1.25em;
    color: #1e528e;
}
.bubble blockquote:before, .bubble blockquote:after {
    content: "\201C";
    position: absolute;
    font-size: 80px;
    line-height: 1;
    color: #1e528e;
}
.bubble blockquote:before {
    top: 0;
    left: 10px;
}
.bubble blockquote:after {
    content: "\201D";
    right: 10px;
    bottom: -.5em;
}

.bubble cite {
    padding-left: 20px;
    font-size: 1.25em;
    color:#252525;
}
.quotes  {
    background: linear-gradient(to bottom, #776BCC 0%,#C7C5F4 100%);
    width:100%;

}