body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "Helvetica Neue",sans-serif;
}
h1 {
    font-size: 24px;
    font-family: 'Baloo Chettan', cursive;
}

h2 {
    font-size: 22px;
    font-family: 'Baloo Ch1ettan', cursive;
}

h3 {
    font-size: 18px;
    font-family: 'Baloo Chettan', cursive;
}
h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}
.global-container{
    margin-top: 6%;
    background-color: whitesmoke;
    width: 60%;
    height: calc(100vh - 6%);
    padding-left: 20%;
    padding-right: 20%;
}
.products-dir-container{

    background-color: white;
    max-height: 200px;
}
.dir-header{
    padding: 0.15% 0 0.15% 0;
}